[submodule "linux_4.10"]
	path = linux/4.10
	url = https://github.com/rehosting/linux.git
	branch = main_4.10
[submodule "linux_6.7"]
	path = linux/6.7
	url = https://github.com/rehosting/linux.git
	branch = main_6.7
